.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color:none;
    background-color:none;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color:none;
}
.navbar {
    position: relative;
    min-height: 80px;
    background:blue;
    margin-bottom:0px;
    border-radius:0px;
}

.navbar-nav>li {
    float: left;
    padding-top:16px;
    padding-left:18px;
    font-weight:bold;

}
.brand-img img{
    width:300px;
    height:50px;
}
.navbar>.container .navbar-brand, .navbar>
.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: -26px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #eee;
    text-transform: uppercase;
    font-size:15px;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: green;
    background-color:#b3ffb3;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color:green;
    background-color:#b3ffb3;
}
.dropdown-menu>li>a {
    padding: 10px 15px;
    font-weight:bold;
    color:white;
    background:green;
    border:1px solid black;
}
.dropdown-menu>li>a:hover {
    background:red;
    color:green;
}
.dropdown-menu {
    padding:0px;
}
.dropdown-menu ul li:hover{
    color:yellow;
    background:brown;
}
.carousel-caption h2{
    padding-bottom:250px;
    color:red;
    font-size:65px;
    text-transform:uppercase;
    font-weight:bold;
    transition:0.7s;

}
.carousel-caption h2:hover{
    color:white;
}
element.style {
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: green;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0px;

    background-color: red;
}
#about{
    background:#fff;
    margin-bottom:60px;
}
.about-top h2{
    font-size:40px;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:11px solid red;
    max-width:250px;
    padding-bottom:10px;

}
.about-top p{
    padding:15px 0px 15px 0px;
    line-height:25px;
    font-family:verdana;
    text-align:justify;
    font-size:16px;
}
.about-content{
    margin-top:25px;
}
.about-content img{
    margin-left:50px;
}
.md h3{
    text-transform:uppercase;
}
.md h3:hover{
    color:red;
}
.md h4{
    text-transform:uppercase;
    color:#7A7A52;
    border-bottom:1px solid #5A5152;
    padding-bottom:18px;
}
.md p{
    font-size:16px;
    border-left:5px solid red;
    padding-left:15px;
    text-align:justify;
}
#service{
    background:#F5F5EF;
    padding:80px 0px;
}
.about-service{
    padding-bottom:50px;

}

.about-service h2{
    font-size:40px;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:10px solid red;
    max-width:350px;
    padding-bottom:10px;


}

.service-top i{
    width:150px; height:150px;
    border-radius:100%;
    background:red;
    color:white;
    padding-top: 35px;
    font-size:80px;

    transition:0.7s;


}
.service-top:hover i{
    color:red;
    background:white;
    transition:0.6s;
    border:2px solid #2DA2C8;

}
.service-top:hover h3{
    color:#64B9D3;
}
.service-top h3{
    text-transform:uppercase;
}
.service-icon p {
    margin: 20px 50px 50px;

}
#works{
    /*background:red;*/
    background:url(../img/3.jpg) no-repeat;
    padding:85px 0px;
    min-height:350px;
    border-bottom:85px solid #4F535E;
}
.work-top h2{
    font-size:40px;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:5px solid red;
    max-width:550px;
    padding-bottom:5px;
    color:white;
}
.counter-content{
    width:100px; height:100px;
    padding-left:50px;
}
.counter-content i{
    color:red;
    width:40px; height:40px;
    background:rgba(0,0,0, .9);
}
.counter{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin:15px 0 15px 105px;
    text-align: center;
    padding-bottom:25px;
}
.fa-2x{
    color:red;
    font-size:40px;
    padding:60px 0 12px 0px;
    display:block;
    margin-left:110px;
}
.frank{
    color: red;
    font-size: 16px;
    margin:15px 0 20px 14px;
    text-align: center;
    text-transform: uppercase;
    padding-top:25px;
    font-weight:bold;
}
.about-top{
    margin-top:100px;
}
* { box-sizing: border-box; }

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background:green;
    border: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
    text-transform:uppercase;
    outline:none;
}

.button:hover {
    background-color:red;
    color:green;
}

.button:active,
.button.is-checked {
    background-color:red;
}

.button.is-checked {
    color:green;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
    margin-bottom: 20px;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
    margin-bottom:40px;
}
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    color: #262524;
    width:33%;
    border:12px solid #fff;
    overflow:hidden;
}
.element-item img{
    width:100%;
}
.isotope-overlay{
    position:absolute;
    background:rgba(0,0,0, .5);
    width:100%;
    height:100%;
    top:-100%;
    transition:0.9s;
}
.element-item:hover .isotope-overlay{
    top:0;
}
.isotope-overlay h2{
    color:#87d37c;
    margin-top:160px;
    text-transform:uppercase;
}
#clients{
    background:#ddd;
    padding:80px 0px;
}
.well{
    padding:100px 0px;
}
.clients-comment h2{
    font-size:40px;
    text-transform:uppercase;
    border-bottom:11px solid red;
    max-width:560px;
    padding-bottom:15px;
}
.clients-comment p{
    margin-top:50px;
}
.john img{
    width:100px; height:100px;
    float:left;
    margin:25px 25px 0px 100px;

}
.john h2{
    line-height:5px;
    color:red;
    margin-bottom:40px;

}
.john h3{
    padding-top:15px;

}
.feedback{
    width:350px;
    background:white;
    text-align:justify;
    padding:15px;
    margin-top:80px;
    margin-left:25px;
}
.our-top{
    margin-top:100px;
    margin-bottom:50px;
}
.our-top h2{
    font-size:40px;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:11px solid red;
    max-width:300px;
    margin:0 auto;
    padding-bottom:10px;
}
.our-top p{
    max-width:800px;
    margin:0 auto;
    text-align:center;
    padding-top:20px;
}
.contact-content i{
    font-size:35px;
}
.contact-content h3{
    text-transform:uppercase;
}
.contact-content:hover i,h3{
    color:#83CA7B;
}
#contact-form{
    margin-top:100px;
    background:#F4F4F4;
    padding:80px 0px 80px 0px;
}
.btn {
    display: inline-block;
    padding: 9px 40px;
    margin-top: 17px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius:0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-top: 15px;
    font-size: 14px;
    background-color:none;
    background-image: none;
    border-radius:0px;
}
.form-control:focus {
    border-color:red;
    outline: 0;
}
#footer{
    background:black;
    margin-top: 100px;
}
#footer p{

    color:white;
    padding-top:18px;
}
.signup{
    border: 5px solid blue;
    padding: 10px;
    border-radius: 5px;
    background: white;
}
.dash{
    background: #dddddd;
    margin: 20px;
    padding: 20px;
}


